@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../fonts/Quicksand/Fonts/WEB/fonts/Quicksand-Regular.woff2') format('woff2'),
        url('../fonts/Quicksand/Fonts/WEB/fonts/Quicksand-Regular.woff') format('woff'),
        url('../fonts/Quicksand/Fonts/WEB/fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Quicksand-Medium';
    src: url('../fonts/Quicksand/Fonts/WEB/fonts/Quicksand-Medium.woff2') format('woff2'),
        url('../fonts/Quicksand/Fonts/WEB/fonts/Quicksand-Medium.woff') format('woff'),
        url('../fonts/Quicksand/Fonts/WEB/fonts/Quicksand-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Supreme-Regular';
    src: url('../fonts/Supreme/Fonts/WEB/fonts/Supreme-Regular.woff2') format('woff2'),
        url('../fonts/Supreme/Fonts/WEB/fonts/Supreme-Regular.woff') format('woff'),
        url('../fonts/Supreme/Fonts/WEB/fonts/Supreme-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Supreme-Medium';
    src: url('../fonts/Supreme/Fonts/WEB/fonts/Supreme-Medium.woff2') format('woff2'),
        url('../fonts/Supreme/Fonts/WEB/fonts/Supreme-Medium.woff') format('woff'),
        url('../fonts/Supreme/Fonts/WEB/fonts/Supreme-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    background-color: #f1f1f1;
    scroll-behavior: smooth;
}


.font1-regular {
    font-family: 'Quicksand-Regular';
}

.font1-medium {
    font-family: 'Quicksand-Medium';
}

.font2-regular {
    font-family: 'Supreme-Regular';
}

.font2-medium {
    font-family: 'Supreme-Medium';
}

.transition-translate {
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

.active-tab .button-front {
    transform: translateY(0.3dvw);
    -webkit-transform: translateY(0.3dvw);
    -moz-transform: translateY(0.3dvw);
    -ms-transform: translateY(0.3dvw);
    -o-transform: translateY(0.3dvw);
}

.TabContent {
    opacity: 0;
    display: none;
    transform: translateY(150px);
    -webkit-transform: translateY(150px);
    -moz-transform: translateY(150px);
    -ms-transform: translateY(150px);
    -o-transform: translateY(150px);
    animation: tabshow 1s ease forwards;
    -webkit-animation: tabshow 1s ease forwards;
}

@keyframes tabshow {
    100% {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
}

.active-tab-content {
    display: block;
}

.img-scale-ani:hover img {
    animation: img_scale 6s ease-in-out forwards;
    -webkit-animation: img_scale 6s ease-in-out forwards;
}

@keyframes img_scale {
    100% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
}


.mobilemenu-list a {
    display: none;
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    animation: menushow 2s ease forwards;
    -webkit-animation: menushow 2s ease forwards;
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
    -moz-transform: translateY(250px);
    -ms-transform: translateY(250px);
    -o-transform: translateY(250px);
}

@keyframes menushow {
    100% {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
}

.mobilemenu-list a:nth-last-of-type(1) {
    animation-duration: 2s;
}

.mobilemenu-list a:nth-last-of-type(2) {
    animation-duration: 2.8s;
}

.mobilemenu-list a:nth-last-of-type(3) {
    animation-duration: 3.4s;
}

.mobilemenu-list a:nth-last-of-type(4) {
    animation-duration: 4s;
}

.mobilemenu-list-show a {
    display: flex;
}


@media (max-width:440px) {
    .active-tab .button-front {
        transform: translateY(1dvw);
        -webkit-transform: translateY(1dvw);
        -moz-transform: translateY(1dvw);
        -ms-transform: translateY(1dvw);
        -o-transform: translateY(1dvw);
    }
}